.el-popover {
    background: rgba(255, 255, 255, 0) !important;
    border: none !important;
    box-shadow: none !important;
    min-width: 50px !important;
    padding: 0px !important;
}

.cangkulist {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(189, 194, 197, 0.5);
    border-radius: 5px;
    /* padding: 15px; */
    margin-left: -50px;
}

.cangkulist .cangkulistitem {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 21px;
    cursor: pointer;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.cangkulist .cangkulistitem:hover {
    background: #F4F4F4;
    color: #298EFF;
}